.company-selection {
  display: flex;
  height: 100vh;
  flex-direction: column;
  padding: 8px;
}

#company-select {
  text-align: left;
  justify-content: space-between;
}

.selector {
  display: flex;
  align-items: center;
  width: 40vw;
  gap: 16px;
}

a {
  color: black;
  text-decoration: none;
}

.MuiInputLabel-outlined {
  border-style: none;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar-item {
  width: 10vw;
  display: flex;
  align-items: center;
  gap: 16px;
}
