.form {
  width: 60vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  text-align: left;
  gap: 32px;
  padding: 32px;
  overflow: scroll;
}

/* .form-container {
  width: 60vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 32px;
  padding-top: 10vh;
} */
.helper {
  text-align: center;
}

.button-container {
  display: flex;
  height: 50vh;
  align-items: flex-end;
}
