form {
  display: flex;
  justify-content: center;
}
.form-container {
  padding-top: 16px;
  width: 40vw;
  display: flex;
  flex-direction: column;
  gap: 16px;
  text-align: left;
  z-index: 12;
}

.form {
  width: 40vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  text-align: left;
  gap: 32px;
  padding: 32px;
  overflow: scroll;
}

.form-row {
  display: flex;
  justify-content: space-between;
  gap: 8px;
}

/* .form-container {
  width: 60vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 32px;
  padding-top: 10vh;
} */
.helper {
  text-align: center;
}

.button-container {
  display: flex;
  align-items: flex-end;
  align-self: center;
}

#type,
#mgmt {
  margin-left: 0;
  gap: 8px;
  align-items: flex-start;
}

.MuiFormControlLabel-root {
  display: flex;
  justify-content: space-between;
  width: 40vw;
}

MuiSelect-select-MuiInputBase-input-MuiFilledInput-input {
  padding-top: 16px;
  padding-bottom: 16px;
}
