@font-face {
  font-family: 'Playfair_Display';
  font-weight: 600;
  font-style: normal;
  src: url('../../Assets/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf')
    format('opentype');
}

@font-face {
  font-family: 'Gravity';
  font-weight: 700;
  font-style: normal;
  src: url('../../Assets/dinamo-trial/ABC-Gravity/ABCGravity-Condensed-Trial.otf')
    format('opentype');
}
@font-face {
  font-family: 'Gravity';
  font-weight: 400;
  font-style: normal;
  src: url('../../Assets/dinamo-trial/ABC-Gravity/ABCGravity-Condensed-Trial.otf')
    format('opentype');
}
@font-face {
  font-family: 'Roboto';
  font-weight: 400;
  font-style: normal;
  src: url('../../Assets/Roboto/Roboto-Regular.ttf') format('opentype');
}
@font-face {
  font-family: 'Roboto';
  font-weight: 900;
  font-style: bold;
  src: url('../../Assets/Roboto/Roboto-Regular.ttf') format('opentype');
}

.app-container {
  height: 100vh;
}

.navbar {
  display: flex;
  padding-left: 16px;
  padding-right: 16px;
  align-items: center;
  justify-content: space-between;
}
.navbar-item {
  width: 15vw;
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 8px;
}
.login {
  width: 15vw;
  display: flex;
  justify-content: flex-end;
  gap: 16px;
}
.logo-button {
  background: transparent;
  border-style: none;
}

/* .main-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 20%;
  left: 43%;
  font-size: 70px;
  font-weight: 700;
  color: #2c2094;
  font-family: PlayfairDisplay;
} */
.app-name {
  position: absolute;
  top: 15%;
  left: 10%;
  font-size: 70px;
  font-weight: 700;
  color: #6363f7;
  font-family: Gravity;
  letter-spacing: 0.1px;
}
.app-text {
  width: 30vw;
  text-align: left;
  position: absolute;
  top: 25%;
  left: 10%;
  font-size: 25px;
  font-weight: 400;
  color: #2c2094;
  font-family: Gravity;
}

img {
  width: 48px;
  height: 48px;
}
.user-avatar {
  width: 36px;
  height: 42px;
}
.company-logo {
  width: 38px;
  height: 38px;
}

.background-image {
  position: absolute;
  right: 5%;
  width: 40vw;
  height: 40vh;
  bottom: 0%;
  z-index: 10;
}
.background-image-blur {
  position: absolute;
  left: 25%;
  width: 50vw;
  height: 50vh;
  bottom: 0%;
  filter: blur(35px);
  z-index: 10;
}
