.action-card-item {
  display: flex;
  flex-direction: column;
  height: fit-content;
  width: 100;
  text-align: left;
}

.overdue {
  border-style: solid;
  border-color: rgb(223, 200, 200);
  border-width: 4px;
}
